{% extends 'layout.html.twig' %}

{% block title %}Procost - Home{% endblock %}

{% block content %}

<main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-dashboard"></i>&nbsp;Tableau de bord</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget-small info coloured-icon">
                                <i class="icon fa fa-spinner fa-3x" aria-hidden="true"></i>
                                <div class="info">
                                    <p class="text-muted text-sm text-uppercase">Projets en cours</p>
                                    <p><strong>{{ projet_en_cour }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget-small warning coloured-icon">
                                <i class="icon fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                                <div class="info">
                                    <p class="text-muted text-sm text-uppercase">Projets livrés</p>
                                    <p><strong>{{ projet_livre }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget-small primary coloured-icon">
                                <i class="icon fa fa-users fa-3x"></i>
                                <div class="info">
                                    <p class="text-muted text-sm text-uppercase">Employés</p>
                                    <p><strong>{{ all_employe }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget-small danger coloured-icon">
                                <i class="icon fa fa-calendar-check-o fa-3x" aria-hidden="true"></i>
                                <div class="info">
                                    <p class="text-muted text-sm text-uppercase">Heures de production</p>
                                    <p><strong>{{ total_production }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-uppercase">
                                <div class="card-header text-center">Rentabilité</div>
                                <div class="card-body">
                                    <p class="text-muted">
                                        <i class="fa fa-database mr-2 text-primary"></i> {{ taux_rentabilite }}% Rentable
                                    </p>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <canvas id="ratio-chart" class="embed-responsive-item"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-uppercase">
                                <div class="card-header text-center">Taux de livraison</div>
                                <div class="card-body">
                                    <p class="text-muted">
                                        <i class="fa fa fa-check-square-o mr-2 text-primary"></i> {{ taux_livraison }}% Livrés
                                    </p>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <canvas id="delivered-chart" class="embed-responsive-item"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header text-center text-uppercase">Top employé</div>
                                <div class="card-body">
                                    {% for list_top in top_employe %}
                                    <div class="text-center">
                                        <img src="{{ asset(list_top.url_img) }}" class="rounded-circle" width="58">
                                        <p class="mt-2">
                                            <strong>{{list_top.prenom}} {{ list_top.nom }}</strong>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="small mt">EMPLOYÉ DEPUIS</p>
                                            <p>{{list_top.date_embauche}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="small mt">COÛT TOTAL</p>
                                            <p>{{list_top.total_product}} €</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="tile table-responsive">
                        <h2 class="tile-title">Les derniers projets</h2>
                        <table class="table table-hover table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Projet</th>
                                    <th>Date de création</th>
                                    <th>Prix de vente</th>
                                    <th>Coût</th>
                                    <th>Est livré</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data_projets in data_projet %}
                                    <tr>
                                        <th>
                                            <a href="projet/voir/{{ data_projets['id'] }}">{{ data_projets['nom'] }}</a>
                                        </th>
                                        <th>{{ data_projets['date_creation']|date('d-m-Y') }}</th>
                                        <th>{{ data_projets['prix_vente'] }}</th>
                                        <th>Pas encore fait €</th>
                                        <th>
                                            {% if data_projets['date_livraison'] is null %}
                                                <span class="badge badge-danger">NON</span>
                                            {% else %}
                                                <span class="badge badge-success">OUI</span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tile">
                        <h2 class="tile-title text-center">Temps de production</h2>
                        <ul class="list-group">
                            {% for dataproduct in data_production %}
                                <li class="list-group-item">
                                    <a href="{{ path('employe') }}">{{ dataproduct.prenom }} {{ dataproduct.nom }}</a> a travaillé sur <a href="projet/voir/{{ dataproduct.projet_id }}">{{ dataproduct.nom_projet }}</a>
                                    <div class="text-muted font-italic text-right">{{ dataproduct.time_production }} heure(s)</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </main>

    <script>
        var ratioData = [{{ taux_rentabilite }}, 100-{{ taux_rentabilite }}];
        var deliveredData = [{{ taux_livraison }}, 100-{{ taux_livraison }}];
    </script>
        {% endblock %}
